body{
    background-image: url("../Assets/Images/Backgrounds/game_board_bg.jpg");
    background-position: center;
    background-size: cover;
}

/* ---------- Page Layout Settings ---------- */
#game-wrapper {
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    border:8px solid rgb(61 40 4);
}

#page-wrapper {
    height: 100vh;
    width:96vw;
    margin: auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    
}

#page-wrapper .col{
    text-align: center;
}

#page-wrapper #game-col{
    min-width:420px;
}
#page-wrapper #player-1-col{
    min-width:420px;
}
#page-wrapper #player-2-col{
    min-width:420px;
}
/* ---------- -------------------- ---------- */



/* ---------- Piece Dropper ---------- */
#piece-dropper {
    margin: auto;
    width: 400px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    padding:0px;
}

#piece-dropper button {
    background: transparent;
}
/* ---------- ------------- ---------- */


/* ---------- Board Stuff ---------- */
#board-display {
    margin:auto;
    background-color:blue;
    width:400px;
    height:350px;
    display:grid;
    border: 3px solid black;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(7,1fr);
}

#board-display div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid black;
    margin:5px auto;
    
}

#board-display .player-0 {
    background-color: white;
    font-size:0px;
}

#board-display .player-1 {
    background-color: red;
    font-size:0px;
}

#board-display .player-2 {
    background-color: yellow;
    font-size:0px;
}

/* ---------- ---------- ---------- */

/* ---------- Game Menu ---------- */
#game-options{
    text-align:center;
}

#game-options button{
    display:block;
    width:50%;
    margin:3px auto;
    background-color:none;
    border-style:double;
}
/* ---------- --------- ---------- */

/* ---------- Player Sheets ---------- */

#player-1-col{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

#player-2-col{
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.avatar-img{
    display:block;
    width:300px;
    border: 5px rgb(61 40 4);
    border-style:inset;
    margin: 0 auto;
}

/* ---------- ------------- ---------- */


/* ---------- Modal Settings ---------- */
.modal-content{
    background-color: bisque;
    border: 3px solid rgb(61 40 4);
}
.modal-header{
    justify-content:center;
}
.modal-body{
    text-align: center;
}

.modal-body .col{
    padding:auto 3px;
    margin:auto 6px;
}

#hot-seat:hover{
    content:url("../Assets/Images/Icons/hot_seat_faster.gif");
}

#bot-match:hover{
    content:url("../Assets/Images/Icons/against_bots_faster.gif");
}

#easy-bot:hover{
    content:url("../Assets/Images/Icons/easy_bot_faster.gif");
}

#medium-bot:hover{
    content:url("../Assets/Images/Icons/medium_bot_faster.gif");
}

#hard-bot:hover{
    content:url("../Assets/Images/Icons/hard_bot_faster.gif");
}
/* ---------- -------------- ---------- */


/* ---------- Outcome Screen ---------- */
#outcome-screen{
    position:fixed;
    background-color:rgba(0,0,0,0.75);
    width:100vw;
    height:100vh;
    display:none;
    justify-content:center;
    text-align: center;
    flex-direction:column;
}

#outcome-popup{
    background-color: bisque;
    border: 3px solid rgb(61 40 4);
    margin:auto;
    width:50%;
    min-width:350px;
    color:black;
}

#outcome-message{
    margin:5px;
}

#outcome-buttons{
    margin:10px;
}

#outcome-buttons button{
    width:50%;
    min-width:60px;
    max-width:130px;
}
/* ---------- -------------- ---------- */



