body {
    background-color:rgb(44, 94, 156);
}

.wrapper {
    display:grid;
    grid-template-columns: repeat(38,1fr);
    grid-template-rows: repeat(20,1fr);

    border: 10px ridge rgb(47, 7, 7);
    border-radius:0.3rem;
    margin: auto;
    width: 1920px;
    height: 1080px;
    background-image: url("../Assets/Images/Backgrounds/main_page_bg.png");
}

.wrapper .nav-option{
    position:relative;
    font-size: 0px;
    font-weight:bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
}

.wrapper span{
    text-align: center;
    position:absolute;
    bottom:0px;
    width:100%;
}

.wrapper .nav-option:hover {
    font-size:30px;
    cursor: pointer;
}

#select-store{
    grid-column-start:11;
    grid-column-end: 14;
    grid-row-start:5;
    grid-row-end:8;
}

#select-profile{
    grid-column-start:24;
    grid-column-end: 29;
    grid-row-start:5;
    grid-row-end:8;
}

#select-game{
    grid-column-start:8;
    grid-column-end: 11;
    grid-row-start:17;
    grid-row-end:20;
}

#select-logout{
    grid-column-start:27;
    grid-column-end: 33;
    grid-row-start:13;
    grid-row-end:18;
}

.player-widget {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 5;
    position:relative;
    right:30px;
    bottom:30px;
    border: 5px solid rgb(47, 7, 7);
    background-color: rgba(255, 255, 255,0.75);
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
}

.player-widget div{
    border:0px solid black;
}

.player-widget #widget-image{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    position: relative;
    left:2px;
    top:2px;

    background-image: url("../Assets/Images/Avatars/Sample_Avatar.png");
    background-size: contain;
    border:2px solid black;
    border-radius: 0.2rem;


}

.player-widget .widget-info{
    position:relative;
    right: 30px;
}
.player-widget #widget-name{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.player-widget #widget-coins{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.player-widget #widget-stats{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}