body {
    background-color: rgb(44, 94, 156);
}

#user-stats {
    font-size: 25px;
}

#user-avatar {
    border:3px solid black;
}

#page-wrapper{
    width: 95%;
    max-width:1200px;
    min-width: 700px;
    height: 100vh;
    text-align: center;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-wrapper{
    background-color:bisque;
    border: 8px solid rgb(61 40 4);
    
}

.accordion{
    width:80%;
    min-width: 500px;
    margin:auto;
}

.accordion-body{
    background-color:rgba(0,0,0,0);
    max-height: 500px;
    overflow:auto;
}

.accordion-item{
    background-color: rgba(0,0,0,0);
}


.accordion-header{
    background-color:rgba(0,0,0,0);
}



/* ---------- Match Info stuff ---------- */
.match-info{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding:5px 0px;
}

.opponent-image{
    width:80%;
}

.match-info .col {
    display: flex;
    justify-content:center;
    flex-direction:column;
    font-size:30px;
    
}

.match-info .info-lose{
    background-color: rgba(255,0,0,0.5);
}

.match-info .info-win{
    background-color: rgba(0,255,0,0.5);
}


/* ---------- ----------- ---------- */


/* ---------- Board Stuff ---------- */

.board-display {
    margin:auto;
    background-color:blue;
    width:400px;
    height:350px;
    display:grid;
    border: 3px solid black;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(7,1fr);
}

.board-display div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid black;
    margin:5px auto;
    
}

.board-display .player-0 {
    background-color: white;
    font-size:0px;
}

.board-display .player-1 {
    background-color: red;
    font-size:0px;
}

.board-display .player-2 {
    background-color: yellow;
    font-size:0px;
}

/* ---------- ---------- ---------- */


/* ---------- Customization ---------- */
#customization form{
    display:flex;
    justify-content: center;
    flex-direction:column;
}

#customization form input{
    margin:5px auto;
    /* width:30%; */
    max-width:500px;
    text-align:center;
}

#customization form button{
    margin:3px auto;
    /* width:30%; */
    max-width:500px;
}
/* ---------- ------------- ---------- */