body {
    background-color: rgb(44, 94, 156);
}

div {
    border:1px solid black;
}

img {
    border:3px solid black;
}
#page-wrapper{
    width: 95%;
    height: 100vh;
    text-align: center;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}