body {
    background-color: rgb(44, 94, 156);
}

div {
    border:1px solid black;
}

img {
    border:3px solid black;
}

#page-wrapper{
    width: 95%;
    max-width:1200px;
    min-width: 700px;
    height: 100vh;
    text-align: center;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-wrapper{
    background-color:bisque;
    border: 8px solid rgb(61 40 4);
    
}

.accordion{
    width:80%;
    min-width: 500px;
    margin:auto;
}

.accordion-body{
    background-color:rgba(0,0,0,0);
    max-height: 500px;
    overflow:auto;
}

.accordion-item{
    background-color: rgba(0,0,0,0);
}


.accordion-header{
    background-color:rgba(0,0,0,0);
}

