body{
    background-color: rgb(87, 121, 118);
    text-align:center;
}

#page-wrapper{
    height:98vh;
    width:97%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    flex-direction:column;
}

#content-wrapper{
    height:70%;
    width:97%;
    min-width:1900px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(38,1fr);
    grid-template-rows: repeat(20,1fr);
    background-color:rgba(255,255,255,0.8);
    border: 8px solid rgb(106, 112, 112);
    border-radius: 0.3rem;
}

#coin-display{
    grid-column-start: 31;
    grid-column-end: 38;
    grid-row-start: 2;
    grid-row-end: 5;
    border: 5px solid rgb(61 40 4);
    display:flex;
    justify-content:center;
    flex-direction: column;
}

#coin-display h3{
    color:rgb(189, 189, 87);
}

#item-display{
    grid-column-start: 15;
    grid-column-end: 26;
    grid-row-start: 6;
    grid-row-end: 16;
    border: 5px solid rgb(61 40 4);
}

#item-title{
    grid-column-start: 15;
    grid-column-end: 26;
    grid-row-start: 4;
    grid-row-end: 6;
}

#menu-display{
    grid-column-start: 15;
    grid-column-end: 26;
    grid-row-start: 17;
    grid-row-end: 20;
    border: 5px solid rgb(61 40 4);
}

#menu-display h2{
    pointer-events: none;
}

#menu-display h4{
    pointer-events: none;
    color:rgb(189, 189, 87);
}

#menu-display .col{
    margin:auto;
}

#to-main-page{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px solid rgb(61 40 4);
    width:85%;
    height:60%;
    margin:auto;
}